/*
 * @name Collapsible Sidebars
 * @author rech
 * @description Collapsible sidebars
 * @version 1.3
*/

/* Hide left sidebar */
div[class^=base] > div[class^=content] > div[class^=sidebar] {
    transition: width 0.2s cubic-bezier(1, 0, 0, 1.275);
    width: 48px!important;
}
/* Show left sidebar when hovered */
div[class^=base] > div[class^=content] > div[class^=sidebar]:hover {
    width: 240px!important;
}
/* Show left sidebar when server list is hovered */
[aria-label="Servers sidebar"]:hover + div[class^=base] > div[class^=content] > div[class^=sidebar] {
    width: 240px!important;
}

/* Hide member list */
[class^=membersWrap],
[aria-label="Members"],
[class^=members] {
    /* set width */
    transition: width 0.2s cubic-bezier(1, 0, 0, 1.275);
    width: 64px;
    min-width: 64px!important;
}
/* Show member list when hovered */
[class^=membersWrap]:hover,
[class^=membersWrap]:hover [aria-label="Members"],
[class^=members]:hover {
    /* set width */
    width: 240px!important;
}
