/*
 * @name Collapsible Sidebars (Visual Refresh)
 * @author rech
 * @version 1.3
 * @description Collapsible sidebars for Visual Refresh
*/

:root {
    --transition-bezier: 0s ease-in-out; /* modify this to add a transition, but it stutters too much for me */
    --exit-delay: 0.25s;
    --collapsed-channel-width: 120px;
    --collapsed-members-width: 64px;
    --collapsed-profile-width: 110px;
    --expanded-channel-width: 264px;
    --expanded-members-width: 240px;
    --expanded-profile-width: 340px;
}

/* Hide channel list */
[data-collapsed=true] [class^=sidebarList] {
    /* set width */
    transition-delay: var(--exit-delay);
    --custom-guild-sidebar-width: var(--collapsed-channel-width)!important;
}
[class^=actionButtons] {
    /* hide call buttons */
    transition-delay: var(--exit-delay);
    height: 0px!important;
    opacity: 0!important;
}
@container (max-width: 100px) {
    [class^=sidebarList] * {
        /* force show channels when small */
        display: flex!important;
        flex-direction: column!important;
    }
    [class^=name], [class^=children] {
        /* not names and buttons tho */
        display: none!important;
    }
}
/* Show channel list when hovered */
[class^=sidebar]:hover [class^=sidebarList] {
    /* set width */
    transition-delay: 0s;
    transition: var(--transition-bezier);
    --custom-guild-sidebar-width: var(--expanded-channel-width)!important;
}
[class^=sidebar]:hover [class^=actionButtons] {
    /* show call buttons */
    transition-delay: 0s;
    transition: var(--transition-bezier);
    height: 40px!important;
    opacity: 1!important;
}

/* Hide member list */
[class^=membersWrap],
[aria-label="Members"],
[class^=members] {
    /* set width */
    transition-delay: var(--exit-delay);
    width: var(--collapsed-members-width)!important;
    min-width: var(--collapsed-members-width)!important;
}
/* Show member list when hovered */
[class^=membersWrap]:hover,
[class^=membersWrap]:hover [aria-label="Members"],
[class^=members]:hover {
    /* set width */
    transition-delay: 0s;
    transition: var(--transition-bezier);
    width: var(--expanded-members-width)!important;
}

/* Hide user profile */
[class^=content] > [class^=outer] {
    /* set width */
    transition-delay: var(--exit-delay);
    width: var(--collapsed-profile-width)!important;
}
[class^=none] > [class^=body],
[class^=none] > [class^=overlay],
[class^=inner] > [class^=footer] {
    /* hide profile elements */
    transition-delay: var(--exit-delay);
    opacity: 0!important;
}
/* Show user profile when hovered */
[class^=content] > [class^=outer]:hover {
    /* set width */
    transition-delay: 0s;
    transition: var(--transition-bezier);
    width: var(--expanded-profile-width)!important;
}
[class^=content] > [class^=outer]:hover [class^=none] > [class^=body],
[class^=content] > [class^=outer]:hover [class^=none] > [class^=overlay],
[class^=content] > [class^=outer]:hover [class^=inner] > [class^=footer] {
    /* restore profile elements */
    transition-delay: 0s;    
    transition: var(--transition-bezier);
    opacity: 100!important;
}
