/*
 * @name Collapsible Sidebars (Visual Refresh)
 * @author rech
 * @version 1.6
 * @description Collapsible sidebars for Visual Refresh
*/

:root {
    --collapsed-channel-width: 101px;
    --collapsed-members-width: 80px;
    --collapsed-profile-width: 110px;
    --collapsed-settings-width: 120px;
    --expanded-channel-width: 200px;
    --expanded-members-width: 256px;
    --expanded-profile-width: 340px;
    --expanded-settings-width: 272px;
}

/* Hide channel list */
    [class^=sidebarList] {
        /* set width */
        width: var(--collapsed-channel-width)!important;
    }
    [class^=container] > [class^=list] {
        /* center voice icons */
        padding-left: 32px!important;
    }
    [class^=spine], /* thread line */
    [class^=linkTop] > [class^=children], /* channel buttons */
    [class^=linkTop] > [class^=name], /* channel namnes */
    [class^=linkBottom], /* call status */
    [class^=actionButtons], /* call buttons */
    [class^=voiceUser] > [class^=content] > [class^=container] /* call names */
    {
        /* hide stuff */
        display:none!important;
    }
/* Show channel list when hovered */
    [class^=sidebar]:hover [class^=sidebarList] {
        /* revert width */
        width: var(--expanded-channel-width)!important;
    }
    [class^=sidebar]:hover [class^=container] > [class^=list] {
        /* revert voice icons */
        padding-left: 48px!important;
    }
    [class^=sidebar]:hover [class^=spine], /* thread line */
    [class^=sidebar]:hover [class^=linkTop] > [class^=children], /* channel buttons */
    [class^=sidebar]:hover [class^=linkTop] > [class^=name], /* channel namnes */
    [class^=sidebar]:hover [class^=linkBottom], /* call status */
    [class^=sidebar]:hover [class^=actionButtons], /* call buttons */
    [class^=sidebar]:hover [class^=voiceUser] > [class^=content] > [class^=container] /* call names */
    {
        /* revert stuff */
        display: flex!important;
    }

/* Hide member list */
    [class^=membersWrap],
    [aria-label="Members"],
    [class^=members] {
        /* set width */
        width: var(--collapsed-members-width)!important;
        min-width: var(--collapsed-members-width)!important;
    }
/* Show member list when hovered */
    [class^=membersWrap]:hover,
    [class^=membersWrap]:hover [aria-label="Members"],
    [class^=members]:hover {
        /* set width */
        width: var(--expanded-members-width)!important;
    }

/* Hide user profile */
    [class^=content] > [class^=outer] {
        /* set width */
        width: var(--collapsed-profile-width)!important;
    }
    [class^=none] > [class^=body],
    [class^=none] > [class^=overlay],
    [class^=inner] > [class^=footer] {
        /* hide profile elements */
        opacity: 0!important;
    }
/* Show user profile when hovered */
    [class^=content] > [class^=outer]:hover {
        /* set width */
        width: var(--expanded-profile-width)!important;
    }
    [class^=content] > [class^=outer]:hover [class^=none] > [class^=body],
    [class^=content] > [class^=outer]:hover [class^=none] > [class^=overlay],
    [class^=content] > [class^=outer]:hover [class^=inner] > [class^=footer] {
        /* restore profile elements */
        opacity: 1!important;
    }

/* Hide settings panel */
    [class^=sidebar] {
        width: var(--collapsed-settings-width)!important;
        max-width: var(--collapsed-settings-width)!important;
    }
/* Show settings panel when hovered */
    [class^=sidebar]:hover,
    [class^=sidebarRegion]:hover [class^=sidebar] {
        width: var(--expanded-settings-width)!important;
        max-width: var(--expanded-settings-width)!important;
    }
